@model IEnumerable<ExMvc.Application.DTO.Empresa.EmpresaDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("../Shared/_Notification")

<h2>Cadastro de empresas</h2>

<p>
    @Html.ActionLink("Cadastrar", "Create", null,new {@class = "btn btn-info"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazaoSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.ActionLink("Atualizar", "Edit", new { id=item.Identificador }, new {@class = "btn btn-warning"}) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Identificador }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.Identificador }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
